*.blade linguist-detectable=true
*.blade.php linguist-detectable=true
*.json linguist-detectable=true
*.less linguist-detectable=true
*.js linguist-detectable=true
*.php linguist-detectable=true
*.html linguist-detectable=false
*.xml linguist-detectable=false
*.css linguist-detectable=false
